@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$backGroundColor: #111624;
$white: #d9d9d9;
$colorBtn: #333;

$mobile: 480px;

$default-font: 'Sofia Sans', sans-serif;
